


.flex
{
    display: flex;
    align-items: center;
    padding: 0 50px;
}


.menuPunkte
{
    margin-left: 50px;
    display: flex;
}

.rechts
{
    margin-left: auto;
}



.btn
{
    text-decoration: none;
    color: rgb(73, 73, 73);
    border-radius: 4px;
    padding: 10px 16px;
    transition: background-color 0.3s, color 0.3s, padding 0.5s;   
}

.btn:hover
{
    color: white;
    background-color: rgb(11, 75, 212);
    
}

.aktiv
{
   color: rgb(11, 75, 212); 
   border: 1px solid rgb(11, 75, 212); 
}

.logo
{
    height: 70px;
}